default:
  port: 3000
  tests:
    auth: true
    statistic: true
    zero: true
  statistics:
    sigmas: 6
  mysql:
    uri: 'mysql://localhost:3306/IOTDB'
    options:
      logging: true
      pool:
        maxConnections: 10
        minConnections: 1

test:
  mysql:
    uri: 'mysql://test:test@192.168.99.100:3306/IOTDB_TEST'
    options:
      logging: false
